.search-container {
  .button-search {
    background: rgb(38,210,187);
    background: linear-gradient(90deg, rgba(38,210,187,1) 0%, rgba(32,180,205,1) 46%, rgba(176,44,205,1) 100%);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 7px;
  }
}
